# Машинное обучение, лекция 1

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [2]:
from sklearn.metrics import f1_score

Данные можно скачать на [http://bit.ly/2H2cwhr](http://bit.ly/2H2cwhr)

In [3]:
data = pd.read_csv('Downloads/train.csv', index_col='PassengerId')

In [4]:
data.head(10)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

### Задание 1

Посмотрите внимательно на признаки. К какому из типов относится каждый из них?

### Задание 2

Допустим, мы хотим предсказывать, выжил пассажир или нет ('Survived'). Попробуйте предположить, какие признаки из датасета могут оказаться для нас релевантными, а какие нет.

### Задание 3

Какие признаки мы можем преобразовать для дальнейшей работы с помощью бинаризации или нормализации? Все ли из них нам нужно преобразовывать? Замените значения NaN на средние там, где нужно, и преобразуйте признаки.

*Какие ещё способы преобразования можно использовать в этом датасете?*

In [17]:
# ваш код здесь

### Пример

Давайте попробуем обучить k-NN классификатор на наших данных. Возьмём на основе гендера и возраста пассажиров предсказать, выживут ли они.

In [5]:
# берём нужные данные

X = data[['Sex', 'Age']]
y = data['Survived']

In [7]:
from sklearn.model_selection import train_test_split

In [50]:
# четверть выборки откладываем как тестовую -- на ней мы будем проверять, насколько хорошо работает алгоритм

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=238)

In [26]:
from sklearn.neighbors import KNeighborsClassifier

In [51]:
knn = KNeighborsClassifier()

knn.fit(X_train, y_train) # скармливаем классификатору данные из тренировочной выборки
y_pred = knn.predict(X_test) # предсказываем новые значения из тестовой выборки

In [52]:
f1_score(y_test, y_pred, average='weighted') # проверяем, как получилось

0.6055445716401159

In [53]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

             precision    recall  f1-score   support

          0       0.70      0.65      0.67       142
          1       0.46      0.52      0.49        81

avg / total       0.61      0.60      0.61       223

Хороший ли это результат?

### Задание 4

Обучите логистическую регрессию и дерево решений. Какой алгоритм лучше всего работает? Попробуйте добавить другие признаки к выборке. Какие признаки повышают точность предсказания?

In [ ]:
# ваш код здесь