Откройте в pandas датасет `WorldCupMatches.csv`, выполните следующие задания:
    - (4 бала) составьте датасет Cups, который будет содержать следующую информацию
        - год проведения (индекс)
        - страну победителя
        - суммарная посещаемость (attendance)
        - сколько матчев всего было сыграно (используйте shape)
        - всего в вашем датасете должно получиться 18 строк
    - (2 бала) постройте график посещаемости в зависимости от года
    - (2 бала) постройте график посещаемости нормированный на количество матчей (за каждый год разделить посещаемость на количество матчей)
    - (* 2 бала) постройте pie chart того, сколько раз каждая страна становилась победителем (вам пригодится `X.winner.value_counts()` и `plt.pie()`)

P.S. можете обратиться за справкой к моему уроку с прошлой смены https://github.com/MrTsepa/SummerOlympSchool-MIPT-2018/blob/master/Main.ipynb

там то же что мы делали сегодня, но с пояснениями

Помните, что присваивание можно делать только если вы используете ровно один `loc`

например `Cups.loc[1930, 'winner'] = 'Germany'`

но не `Cups['winner'].loc[1930] = 'Germany'`

In [1]:
import numpy as np  # быстрые математические операции
import pandas as pd # для считывания данных
import matplotlib.pyplot as plt # для рисования графиков

In [7]:
X = pd.read_csv('WorldCupMatches.csv').dropna()
X = X[X['Year'] != 1950]
X = X[X['Year'] != 2014]

In [8]:
years = X.Year.unique()

In [9]:
Cups = pd.DataFrame(columns=['winner', 'attendance', 'match_count'], index=years)

In [10]:
Cups

       winner attendance match_count
1930.0    NaN        NaN         NaN
1934.0    NaN        NaN         NaN
1938.0    NaN        NaN         NaN
1954.0    NaN        NaN         NaN
1958.0    NaN        NaN         NaN
1962.0    NaN        NaN         NaN
1966.0    NaN        NaN         NaN
1970.0    NaN        NaN         NaN
1974.0    NaN        NaN         NaN
1978.0    NaN        NaN         NaN
1982.0    NaN        NaN         NaN
1986.0    NaN        NaN         NaN
1990.0    NaN        NaN         NaN
1994.0    NaN        NaN         NaN
1998.0    NaN        NaN         NaN
2002.0    NaN        NaN         NaN
2006.0    NaN        NaN         NaN
2010.0    NaN        NaN         NaN

In [16]:
print(X.shape)
printX.Year.sum()

1487276.0

In [14]:
for year in years:
    y = X[X.Year == year]
    Cups.loc[year, 'attendance'] = ...